
body {
    background: linear-gradient(to right, #e13f09, #b00bad);
    
  }

img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
  }

table {
    border-collapse: collapse;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    
  }
  td {
    padding: 10px;
    text-align: center;
  }
   

  header {
    background-color: #F5F5F5;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 2px 4px 0px #ccc;
  }
  
  h1 {
    font-size: 2em;
    margin: 0;
    color: #333;
    font-weight: bold;
  }
  
  #ipsumButton {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
   
  button:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    background-color: #3e8e41;
  }
  
  button:active {
    background-color: #3e8e41;
    transform: translateY(2px);
  }



  .imageBtn {
    border: none;
    background-color:transparent;
    padding: 100px;
  }
  .imageBtn:hover {
    transform: scale(1.04);
    cursor: pointer;
    background-color:transparent;
  }
  .imageBtn img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .imageBtn:active {
    transform: translateY(2px);
  }
  
  .flagBtn {
    border: none;
    background-color:transparent;
    padding: 200px;
  }
  .flagBtn:hover {
    transform: scale(1.04);
    cursor: pointer;
    background-color:transparent;
  }
  .flagBtn:active {
    transform: translateY(2px);
  }