body {
  background: linear-gradient(to bottom, #1c2331, #384f77, #5a74a8, #86a7d9, #b9d7fa);
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}


/* Table styles */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 10px;
}

th,
td {
  text-align: left;
  padding: 1em;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #333;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* Type styles */
.link {
  font-weight: bold;
}

.game-dev {
  background-color: #2ecc71;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.api {
  background-color: #3498db;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.data {
  background-color: #9b59b6;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.cryptography {
  background-color: #f1c40f;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* Container styles */
.section-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 2em;
}

.table-container {
  overflow-x: auto;
}