#graveyard {
  background-color: #c4b2b2;
  width: 900px;
  height: 1100px;
  margin: 50px auto; /* added */
  box-shadow: 0px 0px 15px rgb(9, 8, 8);
  border-radius: 15px;
  padding: 50px; 
}

#graveyardBanner {
  font-size: 3rem;
  color: #fff;
  background-color: #333;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 15px 15px 0 0;
  margin-bottom: 20px; /* added */
}

.coordinatesInt, .coordinatesABC {
  background-color: #928a8a;
  text-align: center;
  padding: 10px; /* added */
}

.coordinatesInt {
  width: 75px;
  height: 150px;
}

.coordinatesABC {
  width: 150px;
  height: 75px;
}

#banner {
  font-size: 5rem;
  background-color:#060505;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px #000000;
  letter-spacing: 0.2em;
  font-weight: bold;
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 10px;
  animation: colorchange 10s linear infinite;
}

@keyframes colorchange {
  0% {
    color: #ff0000;
  }
  50% {
    color: #0000ff;
  }
  100% {
    color: #ff0000;
  }
}

body {
  background: radial-gradient(circle, #ff0000, #0000ff);
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  max-width: 80%;
  border: 12px solid #333;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #333;
}

td {
  width: 75px;
  height: 75px;
  border: 2px solid #B9B9B9;
  box-shadow: 0px 0px 8px #000000;
}

.white {
  background-color: lightgray;
}

.black {
  background-color: rgb(125, 135, 150);
}
#whiteKingRook {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
  }
  #whiteKingRook:hover {
  color: #ffcc00;
  transform: scale(1.2);
  }
  #whiteKingRook:active {
  color: #f0f5bf;
  transform: scale(1.6);
  }
#whiteQueenRook {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#whiteQueenRook:hover {
  color: #ffcc00;
  transform: scale(1.2);
}
#whiteQueenRook:active {
    color: #f0f5bf;
    transform: scale(1.6);
}
#whiteKingKnight {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#whiteKingKnight:hover {
  color: #ffcc00;
  transform: scale(1.2);
}
#whiteKingKnight:active {
    color: #f0f5bf;
    transform: scale(1.6);
}
#whiteQueenKnight {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#whiteQueenKnight:hover {
  color: #ffcc00;
  transform: scale(1.2);
}
#whiteQueenKnight:active {
    color: #f0f5bf;
    transform: scale(1.6);
}
#whiteKingBishop {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#whiteKingBishop:hover {
  color: #ffcc00;
  transform: scale(1.2);
}
#whiteKingBishop:active {
    color: #f0f5bf;
    transform: scale(1.6);
}
#whiteQueenBishop {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#whiteQueenBishop:hover {
  color: #ffcc00;
  transform: scale(1.2);
}
#whiteQueenBishop:active {
    color: #f0f5bf;
    transform: scale(1.6);
}
#whiteKing {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#whiteKing:hover {
  color: #ffcc00;
  transform: scale(1.2);
}
#whiteKing:active {
    color: #f0f5bf;
    transform: scale(1.6);
}
#whiteQueen {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#whiteQueen:hover {
  color: #ffcc00;
  transform: scale(1.2);
}
#whiteQueen:active {
    color: #f0f5bf;
    transform: scale(1.6);
}
#blackQueenRook {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#blackQueenRook:hover {
  color: #2c2c2c;
  transform: scale(1.2);
}
#blackQueenRook:active {
  color: #2c2c2c;
  transform: scale(1.6);
}
#blackQueenKnight {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#blackQueenKnight:hover {
  color: #2c2c2c;
  transform: scale(1.2);
}
#blackQueenKnight:active {
  color: #2c2c2c;
  transform: scale(1.6);
}
#blackQueenBishop {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#blackQueenBishop:hover {
  color: #2c2c2c;
  transform: scale(1.2);
}
#blackQueenBishop:active {
  color: #2c2c2c;
  transform: scale(1.6);
}
#blackQueen {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#blackQueen:hover {
  color: #2c2c2c;
  transform: scale(1.2);
}
#blackQueen:active {
  color: #2c2c2c;
  transform: scale(1.6);
}
#blackKing {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#blackKing:hover {
  color: #2c2c2c;
  transform: scale(1.2);
}
#blackKing:active {
  color: #2c2c2c;
  transform: scale(1.6);
}
#blackKingBishop {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#blackKingBishop:hover {
  color: #2c2c2c;
  transform: scale(1.2);
}
#blackKingBishop:active {
  color: #2c2c2c;
  transform: scale(1.6);
}
#blackKingKnight {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#blackKingKnight:hover {
  color: #2c2c2c;
  transform: scale(1.2);
}
#blackKingKnight:active {
  color: #2c2c2c;
  transform: scale(1.6);
}
#blackKingRook {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#blackKingRook:hover {
  color: #2c2c2c;
  transform: scale(1.2);
}
#blackKingRook:active {
  color: #2c2c2c;
  transform: scale(1.6);
}
#blackPawn {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#blackPawn:hover {
  color: #2c2c2c;
  transform: scale(1.2);
}
#blackPawn:active {
  color: #2c2c2c;
  transform: scale(1.6);
}
#blackPawn1 {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#blackPawn1:hover {
  color: #2c2c2c;
  transform: scale(1.2);
}
#blackPawn1:active {
  color: #2c2c2c;
  transform: scale(1.6);
}
#blackPawn2 {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#blackPawn2:hover {
  color: #2c2c2c;
  transform: scale(1.2);
}
#blackPawn2:active {
  color: #2c2c2c;
  transform: scale(1.6);
}
#blackPawn3 {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#blackPawn3:hover {
  color: #2c2c2c;
  transform: scale(1.2);
}
#blackPawn3:active {
  color: #2c2c2c;
  transform: scale(1.6);
}
#blackPawn4 {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#blackPawn4:hover {
  color: #2c2c2c;
  transform: scale(1.2);
}
#blackPawn4:active {
  color: #2c2c2c;
  transform: scale(1.6);
}
#blackPawn5 {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#blackPawn5:hover {
  color: #2c2c2c;
  transform: scale(1.2);
}
#blackPawn5:active {
  color: #2c2c2c;
  transform: scale(1.6);
}
#blackPawn6 {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#blackPawn6:hover {
  color: #2c2c2c;
  transform: scale(1.2);
}
#blackPawn6:active {
  color: #2c2c2c;
  transform: scale(1.6);
}
#blackPawn7 {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#blackPawn7:hover {
  color: #2c2c2c;
  transform: scale(1.2);
}
#blackPawn7:active {
  color: #2c2c2c;
  transform: scale(1.6);
}
#blackPawn8 {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#blackPawn8:hover {
  color: #2c2c2c;
  transform: scale(1.2);
}
#blackPawn8:active {
  color: #2c2c2c;
  transform: scale(1.6);
}
#whitePawn1 {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#whitePawn1:hover {
  color: #ffcc00;
  transform: scale(1.2);
}
#whitePawn1:active {
  color: #f0f5bf;
  transform: scale(1.6);
}
#whitePawn2 {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#whitePawn2:hover {
  color: #ffcc00;
  transform: scale(1.2);
}
#whitePawn2:active {
  color: #f0f5bf;
  transform: scale(1.6);
}
#whitePawn3 {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#whitePawn3:hover {
  color: #ffcc00;
  transform: scale(1.2);
}
#whitePawn3:active {
  color: #f0f5bf;
  transform: scale(1.6);
}
#whitePawn4 {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#whitePawn4:hover {
  color: #ffcc00;
  transform: scale(1.2);
}
#whitePawn4:active {
  color: #f0f5bf;
  transform: scale(1.6);
}
#whitePawn5 {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#whitePawn5:hover {
  color: #ffcc00;
  transform: scale(1.2);
}
#whitePawn5:active {
  color: #f0f5bf;
  transform: scale(1.6);
}
#whitePawn6 {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#whitePawn6:hover {
  color: #ffcc00;
  transform: scale(1.2);
}
#whitePawn6:active {
  color: #f0f5bf;
  transform: scale(1.6);
}
#whitePawn7 {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#whitePawn7:hover {
  color: #ffcc00;
  transform: scale(1.2);
}
#whitePawn7:active {
  color: #f0f5bf;
  transform: scale(1.6);
}
#whitePawn8 {
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
#whitePawn8:hover {
  color: #ffcc00;
  transform: scale(1.2);
}
#whitePawn8:active {
  color: #f0f5bf;
  transform: scale(1.6);
}